* {
  box-sizing: border-box;
}
html {
  font-family: "Courier New", Courier, monospace;
}
body {
  margin: 0;
  background-color: #3f3f3f;
}
button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  background-color: transparent;
  color: #19dada;
  border: 1px solid #19dada;
}

button:hover,
button:active {
  background-color: #19dada;
  border-color: #19dada;
  color: white;
}
